body{
    /* background: url('../Images/Background.png');
    background-size: cover;
    background-position: top; */
    display: grid;
    grid-template-rows: 30em 1fr;
    grid-auto-flow: row;
    place-items: center ;
    position: relative;
}

.bg-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -999;
}
h1{
    color: #fff;
    font-weight: 400 !important;
    text-align: center;
    font-size: 3.5em !important;
}

.c-form{
    width: 25em;
    margin-top: 2em;
}
label{
    color: #fff;
    margin-bottom: 0.3em;
    font-weight: bold;
}
.d-f{
    display: flex;
    justify-content: space-between;
}
.c__input{
    width: 100%;
    border: 3px solid #999999;
    color: white !important;
    font-weight: bold;
    padding: 0.2em 1em;
    margin-bottom: 0.5em;
    background: inherit;
}
.c__input::placeholder{
    color: #ddd;
}
.c__input:focus{
    outline: none;
}
.c-btn{
    width: 100%;
    padding-block: 0.5em;
    background-color: #662481;
    color: #fff;
}